<div class ="container mt-3">
  <div class="align-items-center">
    <div class="justify-contentcenter">
			<div class="row">
			<div class="col-5 mx-auto">
				<h1 class="border-bottom">・About</h1>
				<p>
					このサイトは、SNSのいいね機能を<br>
					多種類準備すればもっと楽しくなるだろうと思い、</br>
					「4K1G」というサイトを作成しました。</br></br>
				</p>
				<h1 class="border-bottom">・4K1Gとは？</h1>
				<p>
					５種類のいいね機能のことであり、</br>
					下記の頭文字、4つのKと1つのGから決めました。<br>
				</p>
				<div class="d-flex">
					<i class="fa-solid fa-star my-auto text-orange"></i>&nbsp;&nbsp;
					<h4 class="border-bottom my-auto border-warning">かっこいい<h4>
				</div></br>
				<div class="d-flex">
					<i class="fa-solid fa-heart my-auto  text-danger"></i>&nbsp;&nbsp;
					<h4 class="border-bottom my-auto border-danger">可愛い<h4>
				</div></br>
				<div class="d-flex">
					<i class="fa-solid fa-glasses my-auto text-primary"></i>&nbsp;&nbsp;
					<h4 class="border-bottom my-auto border-primary">賢い<h4>
				</div></br>
				<div class="d-flex">
					<i class="fa-solid fa-seedling my-auto text-success"></i>&nbsp;&nbsp;
					<h4 class="border-bottom my-auto border-success">草生える<h4>
				</div></br>
				<div class="d-flex">
					<i class="fa-solid fa-bolt my-auto text-warning"></i>&nbsp;&nbsp;
					<h4 class="border-bottom my-auto border-warning">元気になる<h4>
				</div>
      </div>
    </div>
  </div>
</div>