<div class ="container mt-3">
  <div class="align-items-center">
    <div class="justify-contentcenter"style="text-align: center;">
      <%= image_tag 'logo.png', class: 'logo-title' %>
      <p>
        自分の好きな投稿をしたり、<br>
        ５種類のいいね機能を使って交流を深めよう！<br>
      </p>
      <div class="d-flex flex-column">
        <%= link_to '新規登録', user_registration_path, method: :post %>
        <%= link_to 'ログイン', user_session_path, method: :post %>
        <%= link_to 'ゲストログイン', guests_guest_sign_in_path, method: :post %>
      </div>
    </div>
  </div>
</div>

