/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
   margin:0;
   padding:0;
   box-sizing: border-box;
 }

header{
   background-color: #FF773E
 }

.container{
   margin:0;
}

footer{
   height:100px;
   background-color:#FFDBC9
}

.logo{
   height:100px;
}

.nav-btn{
   width:80px;
   height:80px;
   border-style:solid;
   border-color: #FFFFFF;
   border-radius:50%;
   display: flex;
   justify-content:center;
   align-items:center;
   color:#FFFFFF;
}

.nav-btn:hover{
   background-color:#FF9872;
}

.profile_image{
   border-radius:50%;
   border-style:solid;
   border-color: #FFFFFF;
}

.link_orange{
   color: orange;
}

.link_red{
   color: red;
}

.link_blue{
   color: blue;
}

.link_green{
   color: green;
}

.link_yellow{
   color: #FFCC00;
}

.link_black{
   color: black;
}

.canvas-container{
   position: relative;
   width:  calc(100% - 40px);
   height: 300px;
   overflow: hidden;
   margin:20px;
}



