/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   margin:0;
   padding:0;
   box-sizing: border-box;
 }

header{
   background-color: #FF773E
 }
 
body{
   background-color: whitesmoke;
   padding-top: 100px;
   padding-bottom: 100px;
}
body:after {
   background-color: whitesmoke;
}

.logo{
   height:50px;
}

.logo-title{
   height:100px;
}


.nav-btn{
   width:40px;
   height:40px;
   border-radius:50%;
   display: flex;
   justify-content:center;
   align-items:center;
   color:#FFFFFF;
}

.nav-btn:hover{
   background-color:#FF9872;
}

.profile_image{
   border-radius:50%;
   border-style:solid;
   border-color: #FFFFFF;
}

.link_orange{
   color: orange;
}

.link_red{
   color: red;
}

.link_blue{
   color: blue;
}

.link_green{
   color: green;
}

.link_yellow{
   color: #FFCC00;
}

.link_black{
   color: black;
}

.card{
   box-shadow:15px 15px 10px -10px;
}

.canvas-container{
   position: relative;
   width:  250px;
   height: 300px;
   overflow: hidden;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
   border: none;     /*枠線をなくす*/
   color: #696969;   /*文字の色を変える*/
 }
 
 /* 表示しているページ番号のデザイン */
 .pagination>.active>a {     
   background: #93c9ff;     /*背景の色を変える*/
   border-radius: 15px;     /*角を丸くする*/
 }
 
 /*ホバー時のデザイン*/
 .pagination>li>a:hover {        
   border-radius: 15px;    /*角を丸くする*/
 }

.pagination {
  justify-content: center;
}

.title{
   background-color: #FFFFFF;
   border-radius: 10px;
   padding: 10px;
   display:inline-block;
   margin-top: 10px;
   margin-bottom: 50px;
   box-shadow: 10px 10px 10px -10px;
}

.btn--red,
a.btn--red {
  color: #000;
  background-color: #ff5758;
}
.btn--red:hover,
a.btn--red:hover {
  color: #000;
  background: #ff8c8d
}

a.btn--red.btn--cubic {
   border-bottom: 5px solid #b13c3c;
 }
 
 a.btn--red.btn--cubic:hover {
   margin-top: 3px;
   border-bottom: 2px solid #c27d7d;
 }

 .btn--blue,
a.btn--blue {
  color: #000;
  background-color: #39b7ff;
}
.btn--blue:hover,
a.btn--blue:hover {
  color: #000;
  background: #89d1fa;
}

a.btn--blue.btn--cubic {
   border-bottom: 5px solid #26719c;
 }
 
 a.btn--blue.btn--cubic:hover {
   margin-top: 3px;
   border-bottom: 2px solid #8297a3;
 }

 .btn--green,
 a.btn--green {
   color: #000;
   background-color: #c9e265;
 }
 .btn--green:hover,
 a.btn--green:hover {
   color: #000;
   background: #e1e9bf;
 }
 
 a.btn--green.btn--cubic {
    border-bottom: 5px solid #9eb24f;
  }
  
  a.btn--green.btn--cubic:hover {
    margin-top: 3px;
    border-bottom: 2px solid #a8ae92;
  }
 
 a.btn--radius {
   border-radius: 100vh;
 }

 .btn--circle {
   border-radius: 50%;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   -webkit-box-shadow: 0 5px 0 #b4b4b4;
   box-shadow: 0 3px 0 #b4b4b4;
 }
 
 .btn--circle:hover {
   -webkit-transform: translate(0, 1px);
   transform: translate(0, 1px);
   -webkit-box-shadow: 0 2px 0 #b4b4b4;
   box-shadow: 0 2px 0 #b4b4b4;
 }

 .btn--red {
   color: #fff;
   background-color: #ff5758;
 }
 
 .btn--red:hover {
   color: #fff;
   background: #ff8c8d
 }

 .btn--red-circle {
   border-radius: 50%;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   -webkit-box-shadow: 0 5px 0 #b13c3c;
   box-shadow: 0 3px 0 #b13c3c;
 }
 
 .btn--red-circle:hover {
   -webkit-transform: translate(0, 1px);
   transform: translate(0, 1px);
   -webkit-box-shadow: 0 2px 0 #c27d7d;
   box-shadow: 0 2px 0 #c27d7d;
 }

 .btn--blue {
   color: #fff;
   background-color: #39b7ff;
 }
 
 .btn--blue:hover {
   color: #fff;
   background: #89d1fa;
 }

 .btn--blue-circle {
   border-radius: 50%;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   -webkit-box-shadow: 0 5px 0 #26719c;
   box-shadow: 0 3px 0 #26719c;
 }
 
 .btn--blue-circle:hover {
   -webkit-transform: translate(0, 1px);
   transform: translate(0, 1px);
   -webkit-box-shadow: 0 2px 0 #8297a3;
   box-shadow: 0 2px 0 #8297a3;
 }
 
 .btn--green {
   color: #fff;
   background-color: #c9e265;
 }
 
 .btn--green:hover {
   color: #fff;
   background: #e1e9bf;
 }

 .btn--green-circle {
   border-radius: 50%;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   -webkit-box-shadow: 0 5px 0 #9eb24f;
   box-shadow: 0 3px 0 #9eb24f;
 }
 
 .btn--green-circle:hover {
   -webkit-transform: translate(0, 1px);
   transform: translate(0, 1px);
   -webkit-box-shadow: 0 2px 0 #a8ae92;
   box-shadow: 0 2px 0 #a8ae92;
 }

 .btn--yellow {
   color: #fff;
   background-color: #ffde5a
 }
 
 .btn--yellow:hover {
   color: #fff;
   background: #fff1bb
 }

 .btn--yellow-circle {
   border-radius: 50%;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   -webkit-box-shadow: 0 5px 0 #bda441;
   box-shadow: 0 3px 0 #bda441;
 }
 
 .btn--yellow-circle:hover {
   -webkit-transform: translate(0, 1px);
   transform: translate(0, 1px);
   -webkit-box-shadow: 0 2px 0 #bfb27d;
   box-shadow: 0 2px 0 #bfb27d;
 }





