<div class="cover-user-index">
  <div class="container">
    <div>
      <h1 class="card mt-3 mb-3" style="width: 300px;">フォロワー一覧</h1>
    </div>
    <%= render 'index', users: @users %>
  </div>
</div>